<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.20168.4" newVersion="2.0.20168.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<connectionStrings>
		<add name="SourceDB" providerName="Microsoft.EntityFrameworkCore.SqlServer" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDBFilename=|DataDirectory|\DB\SourceDB.mdf;Integrated Security=True" />
	</connectionStrings>

	<appSettings>
		<add key="ApiUrl" value="https://localhost:7168/api/Contacts" />
		<add key="BearerToken" value="CfDJ8G59Q-imtW5Os5-2hw4vohUK4NKa-GkuzscYSYcoWnZU4M8uifcnvg0JwDymecSuSOLB-kTZ-CUrUhwz_IRaLQxwSwjNdmiILDtCsMYqyyB63bqeq7q5Eb-0_kH1MCdIKlFCvcjl6TgRsNgICtXEMFdYpc5Qx6N15HQTmbyqBxqORXtCDaidkHKiBlApPLtlnP8Rdez_FEKyg-eSCbhJWYu5IpbA5PA0mOb61HkdBDMBebLSd_4p1WGfN31FY_q10Q8D7kS8iSqUHh1EaEdr5Eycz6nWAwz1C4MoYr7UsiL0v6dmALi17SI6XNxIUOIlZSbpiZq-Xj2VMODgdaATbgtFJQ7tWY46GuXWS3xLDG-7nDxxtQXJxI1eJT5pJGCHZ9Scqyqu_tXFivL6V2ozlEw4hehURdIJQobWPqsDWYS3p0o9jNzAH1b8JjzqDYR9qKtbbS1bY0KixG5nkygTmg51htV0uxtvN2OE6H6dzyRWtfJ5jXsQVZmt3pw98wR_EOFnWkvuftJNtfrPH6jmvBXlEFo3IFvYfd85CvJAGdVgq4o52q7J1huHaZdo4WDW7DNOg-RFEIoG0SIYWFurOBVNaUQqWlp0piUIHhPLPxwaRzGJ22royrXcKAN54xj_ZYSXLMvXfbimCvVmzeOgR1DaB6nLXfnwzmo_w6_C98cqVfx8emJNxancQ-19l31qUg" />
	</appSettings>
</configuration>
